{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | accueil{% endblock %}

{% block body %}
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deleniti enim explicabo rerum sequi!
        Adipisci alias aliquam aspernatur cum delectus dicta eos, esse illum libero praesentium quibusdam rem suscipit
        veritatis?
    </div>
{% endblock %}
